<h1> Edit a Article </h1>
<% if @article.errors.any? %>
<p>
    <strong>You have following errors</strong>
    <ul>
        <% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
</p>
<% end %>
<%= form_with(model: @article, local:true) do |f| %>
    <p>
        <%= f.label :title %> <br>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :description %> <br>
        <%= f.text_area :description %>
    </p>

    <br>
    <p>
        <%= f.submit %>
    </p>
<% end %>
<p><%= link_to 'Returns to articles listing', article_index_path %></p>